<div style="margin-top: 50px;">
    <div class="container text-center">
        <div class="btn-group">
            <a routerLink="nuevo" class="btn btn-primary" routerLinkActive='active' aria-current="page">Nuevo</a>
            <a routerLink="detalles" class="btn btn-primary" routerLinkActive='active'>Detalle</a>
            <a routerLink="editar" class="btn btn-primary" routerLinkActive='active'>Editar</a>
        </div>
    </div>
</div>


<div class="container">
    <router-outlet></router-outlet>
</div>