<div class="container mt-5">
    <h2>Graficas</h2>
    <hr>
    <div style="margin-top: 20px;">
        <div class="container text-center">
            <div class="btn-group btn-group-sm">
                <a routerLink="areapolar" class="btn btn-primary" routerLinkActive='active' aria-current="page">Area Polar</a>
                <a routerLink="anillo" class="btn btn-primary" routerLinkActive='active'>Anillo</a>
                <a routerLink="barras" class="btn btn-primary" routerLinkActive='active'>Barras</a>
                <a routerLink="burbuja" class="btn btn-primary" routerLinkActive='active'>Burbuja</a>
                <a routerLink="dinamico" class="btn btn-primary" routerLinkActive='active'>Dinamico</a>
                <a routerLink="dispersion" class="btn btn-primary" routerLinkActive='active'>Dispersion</a>
                <a routerLink="linea" class="btn btn-primary" routerLinkActive='active'>Linea</a>
                <a routerLink="pastel" class="btn btn-primary" routerLinkActive='active'>Pastel</a>
                <a routerLink="radar" class="btn btn-primary" routerLinkActive='active'>Radar</a>
            </div>
        </div>
    </div>

    <div style="margin-top: 20px; margin-bottom: 50px;">
        <router-outlet></router-outlet>
    </div>
</div>